.input {
    margin-top: 20px;
    width: fit-content;
     flex-direction: column;
}

.inputTop {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: fit-content;
     flex-direction: column;
}
.inputTop label {
    padding-left: 7px;
    width: fit-content;
}

/*SELECT*/

.select {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    user-select: none;
    box-sizing: border-box;
    padding: 12px;
    width: 60px;
    height: 40px;
}
.select p {
    color: #EDEAE5;
    font-size: 18px;
    margin-top: -5px;
    margin-left: 5px;
}
.select button {
    position: relative;
    left: 200px;
    background-color: transparent;
    border: none;
}

.select ul {
    overflow: auto;
    box-sizing: border-box;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-left: -15px;
    min-width:60px;
    width:fit-content;
    height: 120px;
    border: 1px solid #EDEAE5;
    border-radius: 10px;
}
.select ul::-webkit-scrollbar {
    display: none;
}
.select li {
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 0px;
    margin-left: 10px;
    min-width: 50px;
    width: fit-content;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
    transition: .1s;
    color: #EDEAE5;
}

