.input {
    margin-top: 15px;
    width: 100%;
    flex-direction: column;
}

.inputTop {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 100%;
     flex-direction: column;
}
.inputTop label {
    padding-left: 0px;
    width: fit-content;
    margin-bottom: 8px;
}
