.inputContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box; 
}

.label , .errorLabel {
    font-size: 18px;
    text-align: left;
    padding-left: 1px;
    width: 90%;
    margin-bottom: 8px;
    overflow: auto;
    white-space: nowrap;
    color: #FFFFFF;
}
.errorLabel {
    color: rgb(255,61,61);
}
.errorInput , .input {
    margin-left: 0px;
    padding-right: 0px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #000000;
}
.errorInput {
    background-color: rgb(255,61,61);
}

.inputContainer input[type='number'] {
    text-align: left;
    margin-left: 0px;
    width: 100%;
    box-sizing: border-box;
}
.inputContainer:hover >input{
    border: 1px solid #aeeda3 ;
}