
.form {
    display: flex;
    flex-wrap: wrap;
}
.cancelBtn {
    background-color: #FF3D3D;
    color: #FFFFFF;
}

.timeContainer , .seatsContainer {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.seatsContainer  {
    width: 48%;
}