@media (min-width: 600px) {
    #root {
        padding-bottom: 9px;
        height: 100%;
    }
    #formContainer , nav {
        width: 488px;
        padding-left: 0px;
        padding-right: 0px;
        margin: auto;
        height: 100vh;
    }
    nav {
        overflow: hidden;
    }
    #formContainer {
        overflow: auto;
    }
    #homeNav {
        padding-left: 20px;
        padding-right: 20px;
    }
  }